.productos__seccion__tarjetas{
    display: flex;
    flex-wrap: wrap;
}

.productos__seccion__tarjetas__tarjeta{
    width: calc(50% - 1.15rem);
    height: 16rem;
    margin: .5rem;
}

.productos__seccion__tarjetas :nth-child(5), .productos__seccion__tarjetas :nth-child(6){
    display: none;
}

.productos__seccion__tarjetas__tarjeta__imagen{
    width: 100%;
    height: 70%;
    overflow: hidden;
}

.productos__seccion__tarjetas__tarjeta__imagen img{
    height: 100%;  
}

.productos__seccion__tarjetas__tarjeta__textos{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.productos__seccion__tarjetas__tarjeta__textos__nombre,
.productos__seccion__tarjetas__tarjeta__textos__precio,
.productos__seccion_tarjetas__tarjeta__textos__link{
    margin: .25rem;
    font-size: .85rem;
}