.ventana {
    width: 20rem;
    flex-direction: column;
    border: .5rem double var(--color-rosa);
    border-radius: .66rem;
    text-align: center;
    box-shadow: .66rem .66rem .66rem -1px black;
    background-color: var(--color-blanco);
    justify-content: center;
    animation: abrirVentana 1s;
}


.ventana::backdrop {
    background: rgba(0,0,0,.4);
    backdrop-filter: blur(3px);
}

@keyframes abrirVentana{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

.ventana p, .ventana strong{
    color: black;
    text-shadow: none;
}